h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}
body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:red;
}

.linkStyle {
    color: aquamarine;
    font-size: 16px;
    color: red;
}
.guide {
    font-size: 42px;
    color: white;
    font-weight: 300;
}
.aboutEx {
    font-size: 21px;
    color: gray;
}
footer {
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}